In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
Collecting scipy>=1.0
  Downloading scipy-1.7.3-cp37-cp37m-win_amd64.whl (34.1 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: pandas>=0.23 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from seaborn) (1.3.5)
Collecting matplotlib>=2.2
  Downloading matplotlib-3.5.1-cp37-cp37m-win_amd64.whl (7.2 MB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.29.1-py3-none-any.whl (895 kB)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.0.1-cp37-cp37m-win_amd64.whl (3.2 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp37-cp37m-win_amd64.whl (51 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, scipy, matplotlib, seaborn
Successfully installed cycler-0.11.0 fonttools-4.29.1 kiwisolver-1.3.2 matplotlib-3.5.1 pillow-9.0.1 scipy-1.7.3 seaborn-0.11.2

In [2]:
#!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.5-cp37-cp37m-win_amd64.whl (14.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: six>=1.5 in c:\users\carlos~1.loz\appdata\local\r-mini~1\envs\rstudio-\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.5 pandas-1.3.5 pytz-2021.3

In [2]:
covid = pd.read_csv('220227COVID19MEXICO.csv',  low_memory=True)

C:\Users\CARLOS~1.LOZ\AppData\Local\R-MINI~1\envs\rstudio-\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [47]:
sexgrouped = covid.groupby('SEXO').size()

In [48]:
sexgrouped.head()

SEXO
1    8028538
2    7055899
dtype: int64

In [49]:
covid.loc[covid.FECHA_DEF != "9999-99-99", "VIVO"] = int(0)

In [50]:
covid.loc[covid.FECHA_DEF == "9999-99-99", "VIVO"] = int(1)

In [51]:
covid.groupby('VIVO').size()

VIVO
0.0      408502
1.0    14675935
dtype: int64

In [52]:
sexgrouped = covid.groupby(['SEXO', 'VIVO']).size().reset_index(name='count')

In [59]:
sexgrouped = sexgrouped.astype(int)

In [60]:
sexgrouped.head()

   SEXO  VIVO    count
0     1     0   158763
1     1     1  7869775
2     2     0   249739
3     2     1  6806160

In [62]:
sexgrouped.to_csv('SexDefGroup.csv', index=False)

In [5]:
porfecha = covid.groupby(['FECHA_SINTOMAS', 'SEXO'],as_index = False
                ).count().pivot('FECHA_SINTOMAS', 'SEXO').fillna(0)
display(porfecha)

               FECHA_ACTUALIZACION       ID_REGISTRO       ORIGEN        \
SEXO                             1     2           1     2      1     2
FECHA_SINTOMAS
2020-01-01                     159   128         159   128    159   128
2020-01-02                     124   109         124   109    124   109
2020-01-03                     110   137         110   137    110   137
2020-01-04                     133   112         133   112    133   112
2020-01-05                     183   166         183   166    183   166
...                            ...   ...         ...   ...    ...   ...
2022-02-22                    5587  4649        5587  4649   5587  4649
2022-02-23                    4517  4001        4517  4001   4517  4001
2022-02-24                    3187  2781        3187  2781   3187  2781
2022-02-25                    1359  1206        1359  1206   1359  1206
2022-02-26                     299   301         299   301    299   301

               SECTOR       ENTIDAD_UM        ... CLASIFICACION_FINAL        \
SEXO                1     2          1     2  ...                   1     2
FECHA_SINTOMAS                                ...
2020-01-01        159   128        159   128  ...                 159   128
2020-01-02        124   109        124   109  ...                 124   109
2020-01-03        110   137        110   137  ...                 110   137
2020-01-04        133   112        133   112  ...                 133   112
2020-01-05        183   166        183   166  ...                 183   166
...               ...   ...        ...   ...  ...                 ...   ...
2022-02-22       5587  4649       5587  4649  ...                5587  4649
2022-02-23       4517  4001       4517  4001  ...                4517  4001
2022-02-24       3187  2781       3187  2781  ...                3187  2781
2022-02-25       1359  1206       1359  1206  ...                1359  1206
2022-02-26        299   301        299   301  ...                 299   301

               MIGRANTE       PAIS_NACIONALIDAD       PAIS_ORIGEN         UCI  \
SEXO                  1     2                 1     2           1     2     1
FECHA_SINTOMAS
2020-01-01          159   128               159   128         159   128   159
2020-01-02          124   109               124   109         124   109   124
2020-01-03          110   137               110   137         110   137   110
2020-01-04          133   112               133   112         133   112   133
2020-01-05          183   166               183   166         183   166   183
...                 ...   ...               ...   ...         ...   ...   ...
2022-02-22         5587  4649              5587  4649        5587  4649  5587
2022-02-23         4517  4001              4517  4001        4517  4001  4517
2022-02-24         3187  2781              3187  2781        3187  2781  3187
2022-02-25         1359  1206              1359  1206        1359  1206  1359
2022-02-26          299   301               299   301         299   301   299


SEXO               2
FECHA_SINTOMAS
2020-01-01       128
2020-01-02       109
2020-01-03       137
2020-01-04       112
2020-01-05       166
...              ...
2022-02-22      4649
2022-02-23      4001
2022-02-24      2781
2022-02-25      1206
2022-02-26       301

[788 rows x 76 columns]

In [6]:
porfecha['FECHA_ACTUALIZACION']

SEXO               1     2
FECHA_SINTOMAS
2020-01-01       159   128
2020-01-02       124   109
2020-01-03       110   137
2020-01-04       133   112
2020-01-05       183   166
...              ...   ...
2022-02-22      5587  4649
2022-02-23      4517  4001
2022-02-24      3187  2781
2022-02-25      1359  1206
2022-02-26       299   301

[788 rows x 2 columns]

In [8]:
defunciones = covid.groupby(['FECHA_DEF', 'SEXO'],as_index = False
                ).count().pivot('FECHA_DEF', 'SEXO').fillna(0)
display(defunciones)

           FECHA_ACTUALIZACION            ID_REGISTRO                ORIGEN  \
SEXO                         1          2           1          2          1
FECHA_DEF
2020-01-02                 1.0        0.0         1.0        0.0        1.0
2020-01-03                 2.0        3.0         2.0        3.0        2.0
2020-01-04                 1.0        0.0         1.0        0.0        1.0
2020-01-05                 1.0        1.0         1.0        1.0        1.0
2020-01-06                 0.0        3.0         0.0        3.0        0.0
...                        ...        ...         ...        ...        ...
2022-02-23                76.0      116.0        76.0      116.0       76.0
2022-02-24                53.0       82.0        53.0       82.0       53.0
2022-02-25                30.0       43.0        30.0       43.0       30.0
2022-02-26                11.0       17.0        11.0       17.0       11.0
9999-99-99           7869775.0  6806160.0   7869775.0  6806160.0  7869775.0

                          SECTOR            ENTIDAD_UM             ...  \
SEXO                2          1          2          1          2  ...
FECHA_DEF                                                          ...
2020-01-02        0.0        1.0        0.0        1.0        0.0  ...
2020-01-03        3.0        2.0        3.0        2.0        3.0  ...
2020-01-04        0.0        1.0        0.0        1.0        0.0  ...
2020-01-05        1.0        1.0        1.0        1.0        1.0  ...
2020-01-06        3.0        0.0        3.0        0.0        3.0  ...
...               ...        ...        ...        ...        ...  ...
2022-02-23      116.0       76.0      116.0       76.0      116.0  ...
2022-02-24       82.0       53.0       82.0       53.0       82.0  ...
2022-02-25       43.0       30.0       43.0       30.0       43.0  ...
2022-02-26       17.0       11.0       17.0       11.0       17.0  ...
9999-99-99  6806160.0  7869775.0  6806160.0  7869775.0  6806160.0  ...

           CLASIFICACION_FINAL              MIGRANTE             \
SEXO                         1          2          1          2
FECHA_DEF
2020-01-02                 1.0        0.0        1.0        0.0
2020-01-03                 2.0        3.0        2.0        3.0
2020-01-04                 1.0        0.0        1.0        0.0
2020-01-05                 1.0        1.0        1.0        1.0
2020-01-06                 0.0        3.0        0.0        3.0
...                        ...        ...        ...        ...
2022-02-23                76.0      116.0       76.0      116.0
2022-02-24                53.0       82.0       53.0       82.0
2022-02-25                30.0       43.0       30.0       43.0
2022-02-26                11.0       17.0       11.0       17.0
9999-99-99           7869775.0  6806160.0  7869775.0  6806160.0

           PAIS_NACIONALIDAD            PAIS_ORIGEN                   UCI  \
SEXO                       1          2           1          2          1
FECHA_DEF
2020-01-02               1.0        0.0         1.0        0.0        1.0
2020-01-03               2.0        3.0         2.0        3.0        2.0
2020-01-04               1.0        0.0         1.0        0.0        1.0
2020-01-05               1.0        1.0         1.0        1.0        1.0
2020-01-06               0.0        3.0         0.0        3.0        0.0
...                      ...        ...         ...        ...        ...
2022-02-23              76.0      116.0        76.0      116.0       76.0
2022-02-24              53.0       82.0        53.0       82.0       53.0
2022-02-25              30.0       43.0        30.0       43.0       30.0
2022-02-26              11.0       17.0        11.0       17.0       11.0
9999-99-99         7869775.0  6806160.0   7869775.0  6806160.0  7869775.0


SEXO                2
FECHA_DEF
2020-01-02        0.0
2020-01-03        3.0
2020-01-04        0.0
2020-01-05        1.0
2020-01-06        3.0
...               ...
2022-02-23      116.0
2022-02-24       82.0
2022-02-25       43.0
2022-02-26       17.0
9999-99-99  6806160.0

[788 rows x 76 columns]

In [11]:
defunciones['FECHA_ACTUALIZACION']

SEXO                1          2
FECHA_DEF
2020-01-02        1.0        0.0
2020-01-03        2.0        3.0
2020-01-04        1.0        0.0
2020-01-05        1.0        1.0
2020-01-06        0.0        3.0
...               ...        ...
2022-02-23       76.0      116.0
2022-02-24       53.0       82.0
2022-02-25       30.0       43.0
2022-02-26       11.0       17.0
9999-99-99  7869775.0  6806160.0

[788 rows x 2 columns]

In [12]:
porfecha['FECHA_ACTUALIZACION'].join(defunciones).fillna(0).to_csv('CovidPorFechaSexo.csv', index=True,encoding='utf-8')

C:\Users\CARLOS~1.LOZ\AppData\Local\R-MINI~1\envs\rstudio-\lib\site-packages\pandas\core\frame.py:9138: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  sort=sort,

In [31]:
porfechasexo = pd.concat([porfecha[['FECHA_ACTUALIZACION']], defunciones[['FECHA_ACTUALIZACION']]], axis=1).fillna(0).reset_index()

In [32]:
porfechasexo.drop(porfechasexo.tail(1).index,inplace=True) # drop last n rows

In [53]:
temp = porfechasexo.droplevel(level=0, axis=1)

In [61]:
temp.iloc[:, 0]

0      2020-01-01
1      2020-01-02
2      2020-01-03
3      2020-01-04
4      2020-01-05
          ...
783    2022-02-22
784    2022-02-23
785    2022-02-24
786    2022-02-25
787    2022-02-26
Name: , Length: 788, dtype: object

In [62]:
temp.rename(columns={temp.iloc[:, 0]: 'new'})

TypeError: unhashable type: 'Series'

In [65]:
temp.rename(columns={temp.columns[0]: 'Fecha', 
                     temp.columns[1]: 'CasosFem', temp.columns[2]: 'CasosMas', 
                     temp.columns[3]: 'DefFem', temp.columns[4]: 'DefMas'}, inplace=True)

In [73]:
sum_column = temp.iloc[:,3] + temp.iloc[:,4]
temp["TotalDef"] = sum_column

In [71]:
temp.iloc[:,3].to_csv('DefuncionesFemeninas.csv', index=False)

In [72]:
temp.iloc[:,4].to_csv('DefuncionesMasculinas.csv', index=False)

In [76]:
temp['TotalDef'].to_csv('TotalDefunciones.csv', index=False)